In [1]:
from acquire import *
from prepare import *

# Split

In [2]:
store_df = get_store_data()

File tsa_item_demand.csv already exists. Loading tsa_item_demand.csv...

In [3]:
store_df = clean_store_data(store_df)

In [6]:
store_df.head(1)

,sale_amount,item_upc14,item_upc12,item_brand,item_name,item_price,store_address,store_zipcode,store_city,store_state,month,day_of_week,sales_total
sale_date,,,,,,,,,,,,,
2013-01-01,13,35200264013,35200264013,Riceland,Riceland American Jazmine Rice,0.84,12125 Alamo Ranch Pkwy,78253,San Antonio,TX,1,1,10.92

In [13]:
by_date = store_df.resample('D').mean()

In [14]:
by_date

,sale_amount,item_upc14,item_upc12,item_price,store_zipcode,month,day_of_week,sales_total
sale_date,,,,,,,,
2013-01-01,27.392,2.384688e+11,2.384688e+11,5.1604,78224.8,1.0,1.0,147.68802
2013-01-02,27.356,2.384688e+11,2.384688e+11,5.1604,78224.8,1.0,2.0,147.14116
2013-01-03,28.976,2.384688e+11,2.384688e+11,5.1604,78224.8,1.0,3.0,156.33896
2013-01-04,31.354,2.384688e+11,2.384688e+11,5.1604,78224.8,1.0,4.0,168.93546
2013-01-05,32.474,2.384688e+11,2.384688e+11,5.1604,78224.8,1.0,5.0,175.24370
...,...,...,...,...,...,...,...,...
2017-12-27,40.756,2.384688e+11,2.384688e+11,5.1604,78224.8,12.0,2.0,218.30230
2017-12-28,43.770,2.384688e+11,2.384688e+11,5.1604,78224.8,12.0,3.0,234.75498
2017-12-29,47.070,2.384688e+11,2.384688e+11,5.1604,78224.8,12.0,4.0,253.08368
2017-12-30,49.976,2.384688e+11,2.384688e+11,5.1604,78224.8,12.0,5.0,269.80614
2017-12-31,52.840,2.384688e+11,2.384688e+11,5.1604,78224.8,12.0,6.0,281.81148