In [1]:
from acquire import *
from prepare import *

# Split

In [2]:
store_df = get_store_data()

File tsa_item_demand.csv already exists. Loading tsa_item_demand.csv...

In [3]:
store_df = clean_store_data(store_df)

In [6]:
store_df.head(1)

,sale_amount,item_upc14,item_upc12,item_brand,item_name,item_price,store_address,store_zipcode,store_city,store_state,month,day_of_week,sales_total
sale_date,,,,,,,,,,,,,
2013-01-01,13,35200264013,35200264013,Riceland,Riceland American Jazmine Rice,0.84,12125 Alamo Ranch Pkwy,78253,San Antonio,TX,1,1,10.92

In [13]:
by_date = store_df.resample('D').mean()

In [16]:
by_date.head(1)

,sale_amount,item_upc14,item_upc12,item_price,store_zipcode,month,day_of_week,sales_total
sale_date,,,,,,,,
2013-01-01,27.392,2.384688e+11,2.384688e+11,5.1604,78224.8,1.0,1.0,147.68802